


button { 
    background-color: pink;
    float: right;
    outline: pink;

}
.PostitNote {
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: pink;
    border-top: 30px;
}


ul {
   margin-left:20px ;
    padding: 0;
    list-style-type: none;
}

h5 { 

    font-size: 20px;
    
    text-align: center;
}


h2 { 
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}

.x {
    float:right;
    padding: 10px;
}

