
.PostitNote {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    border-radius: 5px;
    background-color: pink;
    border-top: 30px;
}

.x {
    float:right;
    padding: 10px;
}

.topBar { 

    width: 250px; 
    background-color: magenta; 
    height: 50px;
    float: right;
}
.PostitNote:hover {
    border: 4px solid darkslategrey;
}

@media (max-width: 750px) {

    .PostitNote {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 400px) {

    .PostitNote {
        height: 75px;
        width: 75px;
    }
}